button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color:white;
    background-color: blue;
    cursor: grab;
    margin-top: 10px;
}
button:hover {
    background-color: blue;
    size: 105%;
}
a {
    color: var(--primary);
    text-decoration: none;
}